/* shedule design  */

body {
  font-family: jost;
}

h1 {
  color: blue;
  color: #006aae;
  font-size: 30px;
}

label {
  padding: 5px;
  padding-left: 11px;
  font-size: 16px;
  font-weight: 600;
  color: #4a4949;
}

.shedule_Main_Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitBtn {
  color: #ffffff;
  background: #0078d7;
  font-size: 17px;
  margin: 20px 10px;
}

.shedule {
  display: flex;
  width: 80%;
  margin: 50px 10px 10px 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 0px 0px 10px 10px #aaaaaa;
}

.sheduleBox {
  display: none;
  width: 80%;
  margin: 50px 10px 10px 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 0px 0px 10px 10px #aaaaaa;
}

.flex-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  color: #000000;
  max-width: 400px;
  min-width: 240px;
  padding: 10px 5px;
  margin: 4px;
  border: 2px solid #d2d2d2;
  border-radius: 20px;
}

.react-date-picker__wrapper {
  color: #000000;
  max-width: 400px;
  min-width: 240px;
  padding: 10px 5px;
  margin: 4px;
  border: 2px solid #d2d2d2;
  border-radius: 20px;
}

.react-time-picker__wrapper {
  max-width: 400px;
  min-width: 240px;
  padding: 10px 5px;
  margin: 4px;
  border: 2px solid #d2d2d2;
  border-radius: 20px;
}

textarea {
  max-width: 400px;
  min-width: 240px;
  height: 80px;
  padding: 10px 5px;
  margin: 4px;
  border: 2px solid #d2d2d2;
  border-radius: 20px;
}

.boxsize1 {
  width: 40%;
  border-right: 2px solid #e4e4e4;
}
.boxsize2 {
  width: 50%;
}

#confirm {
  display: flex;
  flex-direction: column;
  background-color: #ff0000;
  border-radius: 24px;
  color: #d30606;
  position: fixed;
  width: 270px;
  height: 150px;
  left: 40%;
  top: 40%;
  margin-left: -100px;
  padding: 10px 20px 10px;
  box-sizing: border-box;
  text-align: center;
  z-index: 22;
}

#confirmSuccess {
  background-color: #d1faff;
  border: 5px solid #2b8d83;
  border-radius: 24px;
  color: #d30606;
  position: fixed;
  width: 301px;
  height: 150px;
  left: 40%;
  top: 40%;
  margin-left: -100px;
  padding: 10px 20px 10px;
  box-sizing: border-box;
  text-align: center;
  z-index: 22;
  align-items: center;
  justify-content: center;
}

.messagesuccess {
  color: green;
}

#confirm button {
  background-color: #ffffff;
  display: inline-block;
  border-radius: 12px;
  border: 4px solid #aaa;
  padding: 5px;
  text-align: center;
  width: 60px;
  cursor: pointer;
}

#confirm .message {
  text-align: left;
  color: #333;
  font-size: 15px;
  line-height: 26px;
  font-weight: 600;
}

.MeetingInfoMainContainer {
  width: 95%;
  height: 500px;
  overflow: scroll;
}

.Meeting_info_box {
  border-bottom: 2px solid #999;
}

h2 {
  margin: 0px;
}
h3 {
  padding: 0px;
  margin: 0px;
  margin-top: 15px;
  color: #444;
}

h6 {
  margin: 3px 0px;
  font-size: 14px;
  color: #222;
  font-weight: 400;
}

.flex_body {
  display: flex;
  align-items: center;
}

time {
  margin: 5px;
}
p {
  margin: 5px;
}
.meetBtn {
  display: none;
}

@media screen and (max-width: 870px) {
  h1 {
    color: blue;
    color: #006aae;
    font-size: 21px;
    margin: 0px;
  }
  h2 {
    margin: 0px;
    font-size: 18px;
  }
  h3 {
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    color: #444;
    font-size: 15px;
  }
  h6 {
    margin: 3px 0px;
    font-size: 12px;
    color: #222;
    font-weight: 400;
  }
  time {
    margin: 5px;
    font-size: 12px;
  }
  p {
    margin: 5px;
    font-size: 12px;
  }

  label {
    padding: 5px;
    padding-left: 11px;
    font-size: 13px;
    font-weight: 600;
    color: #4a4949;
  }
  .shedule {
    display: flex;
    width: 80%;
    margin: 50px 10px 10px 10px;
    border: 1px solid #bfbfbf;
    background-color: white;
    box-shadow: 0px 0px 10px 10px #aaaaaa;
  }
  .sheduleBox {
    display: none;
    width: 80%;
    margin: 20px 10px 10px 10px;
    border: 1px solid #bfbfbf;
    background-color: white;
    box-shadow: 0px 0px 10px 10px #aaaaaa;
  }
  textarea {
    max-width: 400px;
    height: 50px;
    padding: 10px 5px;
    margin: 4px;
    border: 2px solid #d2d2d2;
    border-radius: 20px;
  }
}

@media screen and (max-width: 700px) {
  .boxsize1 {
    display: none;
    width: 90%;
    border-right: none;
  }

  .shedule {
    display: none;
    width: 80%;
    margin: 50px 10px 10px 10px;
    border: 1px solid #bfbfbf;
    background-color: white;
    box-shadow: 0px 0px 10px 10px #aaaaaa;
  }
  .sheduleBox {
    display: flex;
    width: 80%;
    margin: 20px 10px 10px 10px;
    border: 1px solid #bfbfbf;
    background-color: white;
    box-shadow: 0px 0px 10px 10px #aaaaaa;
    justify-content: center;
  }
  .boxsize2 {
    width: 90%;
  }
  .flex-box {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  h1 {
    color: blue;
    color: #006aae;
    font-size: 24px;
    margin: 2px;
    margin-top: 36px;
  }
  .meetBtn {
    display: block;
    background: #1d78d7;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 85px;
    top: 40px;
  }
}

@media screen and (max-width: 450px) {
  .shedule {
    display: none;
    width: 80%;
    margin: 50px 10px 10px 10px;
    border: 1px solid #bfbfbf;
    background-color: white;
    box-shadow: 0px 0px 10px 10px #aaaaaa;
  }
  .sheduleBox {
    display: flex;
    width: 95%;
    margin: 1px 10px 10px 10px;
    border: 1px solid #bfbfbf;
    background-color: white;
    box-shadow: 0px 0px 10px 10px #aaaaaa;
    justify-content: center;
  }
  .react-date-picker__wrapper {
    color: #000000;
    max-width: 400px;
    min-width: 240px;
    padding: 0px 15px;
    margin: 4px;
    border: 2px solid #d2d2d2;
    border-radius: 20px;
  }

  .react-time-picker__wrapper {
    max-width: 400px;
    min-width: 240px;
    padding: 0px 15px;
    margin: 4px;
    border: 2px solid #d2d2d2;
    border-radius: 20px;
  }
  .submitBtn {
    color: #ffffff;
    background: #0078d7;
    font-size: 17px;
    margin: 13px 10px;
  }
  h1 {
    color: blue;
    color: #006aae;
    font-size: 20px;
    margin: 2px;
    margin-top: 36px;
  }
  input {
    color: #000000;
    max-width: 400px;
    min-width: 240px;
    padding: 5px 5px;
    margin: 4px;
    border: 2px solid #d2d2d2;
    border-radius: 20px;
  }
  .meetBtn {
    display: block;
    background: #1d78d7;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 24px;
    top: 20px;
  }
}
